body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

p, h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
}

.container {
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    margin-right: 15px;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: #4d5ae5;
    padding-right: 76px;
}

.web {
    color: #2e2f42;
}

.header-nav-container {
display: flex;
padding: 25.5px 0 25.5px 156px;
}

.nav {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    display: flex;
    padding-right: 176px;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-menu-link {
    color: #2e2f42;
}

.nav-menu-link:hover,
.nav-menu-link:focus {
    color: #404BBF;
}

.adress {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    font-style: normal;
        }

    .adress-list {
        display: flex;
        gap: 40px;
    }

   
.adress-link {
    color: #434455;
}

.adress-link:hover,
.adress-link:focus {
    color: #404bbf;
}

.title-container {
    align-items: center;
    text-align: center;
    }

        .title {
            font-size: 56px;
            font-weight: 700;
            line-height: 1.0714;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            line-height: 1.07;
            padding-top: 178px;
            padding-bottom: 48px;
        }

.button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;

    width: 169px;
        height: 56px;
        border-radius: 4px;
        
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

.section-title {
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
}

.features-container {
    padding: 120px 156px;
}

.features-list {
    display: flex;
    gap: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title-features {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
    padding-bottom: 8px;
}

.text-features {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.section-team {
    background-color: #F4F4FD;
}

.team-item {
    background-color: #FFFFFF;
}

.title-team {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    padding-bottom: 72px;
    padding-top: 120px;
}

.team-list {
    display: flex;
    gap: 24px;
    padding-left: 156px;
    padding-right: 156px;
    padding-bottom: 120px;
}

.title-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}

.title-prof {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.sec-portfolio {
    background-color: #F4F4FD;
}

.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-left: 156px;
       
}

.main-portfolio {

    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    padding-bottom: 72px;
}

.title-portfolio {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
}

.text-portfolio {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.foot {
    background-color: #2E2F42;
}

.logo-foot {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4d5ae5;
    text-transform: uppercase;
}

.text-foot {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F4F4FD;
}

.web-foot {
    color: #f4f4fd;
}

.title-team,
.title-features,
.list-portfolio,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}